*.m~
*.cpp~
*.pyc
.idea/
dataset/
*.hdf5
*.txt
*.npy

.ipynb_checkpoints/
results/balanced_random_sample/FPR_values.npy
results/balanced_random_sample/TPR_values.npy
results/balanced_random_sample/cloudsegnet.hdf5
results/balanced_random_sample/marker_values.npy
results/balanced_random_sample/matlab_results/
results/balanced_random_sample/results-from-boole-for-paper/
results/balanced_random_sample/testing_images/

results/combined/cloudsegnet.hdf5
results/combined/imagetypetesting.npy
results/combined/logfile.txt
results/combined/xtesting.npy
results/combined/ytesting.npy

results/balanced/cloudsegnet.hdf5
results/balanced/error_array.npy
results/balanced/fscore_array.npy
results/balanced/imagetypetesting.npy
results/balanced/logfile.txt
results/balanced/precision_array.npy
results/balanced/recall_array.npy
results/balanced/result.txt
results/balanced/xtesting.npy
results/balanced/ytesting.npy


results/balanced/day_error_array.npy
results/balanced/day_fscore_array.npy
results/balanced/day_precision_array.npy
results/balanced/day_recall_array.npy
results/balanced/night_error_array.npy
results/balanced/night_fscore_array.npy
results/balanced/night_precision_array.npy
results/balanced/night_recall_array.npy


results/combined/testing_images/


results/combined/matlab_results/
data/day_images/day_scene_withAUG.h5
data/day_images/day_withAUG_GT.h5
data/night_images/night_scene_withAUG.h5
data/night_images/night_withAUG_GT.h5
results/balanced/from-boole-exp10-epoch200/
results/combined/result-from-boole/

data/day_images/day_GT.h5
data/day_images/day_scene.h5


data/day_images/day_GT.h5
data/day_images/day_scene.h5
data/night_images/night_GT.h5
data/night_images/night_scene.h5

results/balanced_random_sample/imagetypetesting.npy
results/balanced_random_sample/logfile.txt
results/balanced_random_sample/xtesting.npy
results/balanced_random_sample/ytesting.npy

results/extended_balanced/cloudsegnet.hdf5
results/extended_balanced/logfile.txt
results/extended_balanced/result.txt

results/balanced/just-a-previous-snap/
results/balanced_random_sample/just-a-previous-snap/
results/combined/just-a-previous-snap/
results/extended_balanced/just-a-previous-snap/
